html, body {
  margin:0;
  padding:0;
  height:100%;
}

div.contenidoPagina strong {
	font-weight: bold; 
}

div.contenidoPagina em {
	font-style: italic; 
}

div.contenidoPagina table {
	background: #FFFFFF;
	border-collapse: separate;
	box-shadow: inset 0;
	font-size: 12px;
	line-height: 14px;
	margin: 40px auto;
	text-align: center;
	width: auto;
}	

div.contenidoPagina th {

  background-color: #669966;

	box-shadow: inset 0 1px 0 #999;
	color: #FFFFFF;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 ;
  text-align: center;	
  font-size: 12px;
}

div.contenidoPagina th:after {
	background:;
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

div.contenidoPagina th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

div.contenidoPagina th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

div.contenidoPagina td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

div.contenidoPagina td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

div.contenidoPagina td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

div.contenidoPagina tr {
	background: url();	
}

div.contenidoPagina tr:nth-child(odd) td {
	background: #f1f1f1 url();	
}

div.contenidoPagina tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

div.contenidoPagina tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

div.contenidoPagina tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	


div.contenidoPagina table tr:hover td{
	color : #F1F1F1;
	cursor: pointer;
	background-color: #3C3C3C;
	background-position: center;	
}


div.form_contact table {
	background: #F1F1F1;
	border-collapse: separate;
	box-shadow: inset 0;
	font-size: 12px;
	line-height: 24px;
	margin: 20px auto;
	text-align: center;
	width: 65%;
}	

div.form_contact input[type="button"]{
    width: 140px;
	background: #669966;
	padding: 10px;
	border: none;
	border-radius: 30px;
    align-self: flex-end;
    color: #FFFFFF;
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;

}

div.form_contact input[type="button"]:hover{
    color : #F1F1F1;
	cursor: pointer;
	background-color: #3C3C3C;
	background-position: center;

}

div.form_contact input[type="text"]{
    padding: 4px 0px 5px;
    margin-bottom: 10px;

	width		  : 80%;
    border-bottom: 1px solid #D1D1D1;

  	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

div.form_contact select{
	width		  : 80%;
	padding: 4px 0px 5px;
	margin-bottom: 10px;
	
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;

}

.texto{
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
	font-size: 14px;
	color : #F1F1F1;
	font-weight: bold;	
	text-align: left;	
}

#footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:20px;
  width:100%;
  font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
  background:#3C3C3C;
  color : #F1F1F1;
  text-align: center;	
  font-size: 12px;
  padding: 10px 15px;
  vertical-align: middle;
}

a.nounderline:link
{
text-decoration:none;
color: #232B37;
font-weight: bold;
}

a:visited {
	text-decoration:none;
color: #232B37;
font-weight: bold;
	}
	
#mensaje{
	font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
	font-size: 14px;
	color : #F1F1F1;
	font-weight: bold;	
	text-align: center;	
}

