body
{
    margin: 0;
    padding: 10;
    font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; 
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 3;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
	
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 12px; 
    background: #669966;
}
#cssmenu > ul > li {
    float: left;

}

#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  background: #232B37;
  color: #F1F1F1;

}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;

}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;

}
#cssmenu.align-center ul ul {
  text-align: left;

}
#cssmenu.align-right > ul > li {
  float: right;

}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;


}
#cssmenu > ul > li:hover > a {
    background-color: #232B37;
    color: #DDDDDD;
    border: 1px solid rgba(100, 100, 100, 0.4);
    border-bottom-width: 0;
    border-radius: 2px 2px 0 0;
    text-shadow: 0 0 transparent;
    z-index: 2;

}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;

}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 1px;
  display: block;
  background: #dddddd;
  content: '';

}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;


}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;

}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 1;
	
}
#cssmenu.align-right ul ul {
  text-align: right;

}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

}
#cssmenu li:hover > ul {
  left: auto;

}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;

}
#cssmenu li:hover > ul > li {
  height: 35px;

}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;

}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;

}
#cssmenu ul ul li a {

  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding: 11px 15px;
  font-size: 12px;
  text-decoration: none;
  color: #232B37;
  font-weight: 400;
  background: #F1F1F1;
  display: block;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 180px;
  left: -1px;
  margin-top: 2px;


}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;

}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #DDDDDD;
  background-color: #232B37;

}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';

}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;

}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;

}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;

}

#cssmenu {
    width: 100%;
}

img.alineadoTextoImagenCentro{
  vertical-align: middle;
  /* Ojo vertical-align: text-middle no existe*/
}

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #669966;
    opacity: 0.9;
}

.cantact_info{
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center center;
}

